[submodule "nvim"]
	path = .config/vim
	url = https://github.com/nextredo/vim-conf
	branch = main
[submodule "vim"]
	path = .config/nvim
	url = https://github.com/nextredo/nvim-conf
	branch = master
[submodule "alacritty-theme"]
	path = .config/alacritty/alacritty-theme
	url = https://github.com/alacritty/alacritty-theme
	branch = master
