[http]
    sslVerify = false
[commit]
    template = ~/.config/git/.gitmessage
[user]
    ; email =
    ; name =
[core]
    editor = vim
[credential]
    helper = cache --timeout=1200
[alias]
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all

    ; https://stackoverflow.com/questions/14988929/show-all-stashes-in-git-log
    ; lols = log --oneline --graph --decorate --all $(git reflog show --format="%h" stash)
    ; lolz = log --graph --decorate --pretty=oneline --abbrev-commit -g stash --all
    lols = log --graph --decorate --pretty=oneline --abbrev-commit --all --reflog

    s = status
    this = rev-parse HEAD
[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
